:root {
  --primary: #5b8a45;
  --primaryLight: #72ab57;
  --primary2: #bb79e2;
  --light1: #faf9f7;
  --light2: #c6cac2;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #faf9f7;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary:focus,
.btn-primary:disabled,
.btn-primary.disabled {
  background-color: var(--primaryLight);
  border-color: var(--primaryLight);
}

.btn {
  border-radius: 30%;
}

#about {
  background-color: var(--light2);
}

.jamesfest-img {
  max-width: 75vw;
}
