:root {
  --primary: #5b8a45;
  --primaryLight: #72ab57;
  --primaryDark: #458a52;
  --primary2: #bb79e2;
  --light1: #faf9f7;
  --light2: #c6cac2;
}

.color-primary {
  color: var(--primary);
}

a {
  color: var(--primaryDark);
}

a:hover,
a:focus a.active,
a:active {
  color: var(--primaryLight);
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: var(--primary); /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: var(--primary); /* Gecko Browsers */
  color: white;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--light1);
}

main {
  min-height: calc(100vh - 90px);
  margin-top: 65px;
}

* {
  box-sizing: border-box;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary:focus,
.btn-primary:disabled,
.btn-primary.disabled {
  background-color: var(--primaryLight);
  border-color: var(--primaryLight);
}

.btn {
  border-radius: 15px;
}

.timerText {
  font-size: 1.2rem;
}

.backgroundPrimary {
  background-color: var(--light1);
}

.backgroundAlt {
  background-color: var(--light2);
}

.jamesfest-img {
  max-width: 400px;
  margin: auto;
}

.section {
  padding-block: 2em;
  text-align: center;
}

#timer {
  background-image: url("/BackgroundVenuePhoto.webp");
  min-height: 200px;
  background-attachment: fixed;
  background-position: 50% 55%;
  background-repeat: no-repeat;
  background-size: cover;
}

#venueBackground {
  background-image: url("/venue.webp");
  min-height: 40vh;
  background-attachment: fixed;
  background-position: 50% 55%;
  background-repeat: no-repeat;
  background-size: cover;
}

@supports (-webkit-touch-callout: none) {
  #timer,
  #venueBackground {
    background-attachment: scroll;
  }
}

.textOverlay-container {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: var(--light1);
  font-weight: bold;
  border: 3px solid var(--light1);
  border-radius: 10px;
  min-width: 60%;
  max-width: 95%;
  padding: 1rem;
  display: inline-block;
}

.venue-container {
  background-color: rgba(0, 0, 0, 0.5); /* Black w/opacity/see-through */
  width: fit-content;
}

.logInCard {
  max-width: 500px;
  margin: auto;
  border-radius: 10px;
}

.whatsOnCardContainer {
  margin-block: 0.75rem;
}

.whatsOnCard {
  padding: 0.25rem;
  border-radius: 10px;
  box-shadow: 0 0.15rem 1.75rem -1rem rgba(31, 45, 65, 0.25);
  -webkit-box-shadow: 0 0.15rem 1.75rem -0.1rem rgba(31, 45, 65, 0.25);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    -webkit-transform 0.2s ease-in-out;
  -webkit-transition: box-shadow 0.2s ease-in-out,
    -webkit-transform 0.2s ease-in-out;
  justify-content: space-evenly;
}

@media (pointer: fine) {
  .whatsOnCard:hover {
    -webkit-transform: translateY(-0.3333333333rem);
    transform: translateY(-0.3333333333rem);
    -webkit-box-shadow: 0 20px 25px -12px rgba(31, 45, 65, 0.25);
    box-shadow: 0 20px 25px -12px rgba(31, 45, 65, 0.25);
  }
}

#bottomBanner {
  z-index: 1032; /* Above bottom nav button and overlay */
}

.section-background {
  min-height: 40vh;
  background-position: 50% 55%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  text-align: center;
  align-items: center;
}

.td-none {
  text-decoration: none;
}
.accomCard {
  width: 80%;
  text-decoration: none;
}

.accomCard.airbnb {
  color: #ff5a5f;
}

.accomCard.hotel {
  color: black;
}

.customCard {
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.timeline-icon svg {
  font-size: 2rem;
  position: relative;
  top: 3px;
}

.header-timeline-icon svg {
  font-size: 1.75rem;
}

.rounded-10px {
  border-radius: 10px;
}

.section-background.accommodation {
  background-image: url("/backgroundBanners/hotel.webp");
  background-position: 50% 75%;
}

.section-background.day {
  background-image: url("/backgroundBanners/day.webp");
  background-position: 50% 75%;
}

.section-background.gift-list {
  background-image: url("/backgroundBanners/gift-list.webp");
  background-position: 70% 10%;
}

.section-background.music {
  background-image: url("/backgroundBanners/musicPage.webp");
  background-position: 70% 60%;
}

.section-background.food {
  background-image: url("/backgroundBanners/marshfieldFarm.webp");
  background-position: 70% 40%;
}

.section-background.venue {
  background-image: url("/backgroundBanners/venue.webp");
  background-position: 70% 40%;
}

.section-background.photos {
  background-image: url("/backgroundBanners/ianAnna.jpg");
  background-position: 70% 20%;
}

.venueCard,
.venueAddress,
.venueInfo {
  max-width: 500px;
  width: 90%;
}

.loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: rgb(53, 53, 53);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

@keyframes loading-skeleton {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
