.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 2rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .btn-close {
  position: absolute;
  top: 20px;
  right: 45px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 1rem;
  }
  .overlay .closeBtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media screen and (max-width: 767px) {
  #mobileNavBtn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 0.5rem 0.5rem 0;
  }
  .navbar-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  #mobileNavBtn {
    display: none;
  }
  .navbar-list {
    list-style-type: none;
    margin-bottom: 2rem;
    padding: 0;
    overflow: hidden;
    background-color: var(--light2);
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 99;
  }
}

body.overlay-open {
  overflow: hidden;
}

.navbar-item {
  float: right;
}

.navbar-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-item a:hover {
  background-color: #111;
}
