.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.5s;
  overflow-y: auto;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 2rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .btn-close {
  position: absolute;
  top: 20px;
  right: 45px;
}

@media screen and (max-height: 600px) {
  .overlay a {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  #mobileNavBtn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 0.75em 0.75em 0;
  }
}
@media screen and (min-width: 768px) {
  #mobileNavBtn {
    display: none;
  }
}

body.overlay-open {
  overflow: hidden;
}

.navbar-nav a {
  width: max-content;
}

.navImageLogo {
  max-width: 140px;
}

#navbar {
  flex-wrap: nowrap;
}
